<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
        <span>
            <h5>Accordian</h5>
            <p>- Heading</p>
            <p>- Body</p>
            <p>- Section disable</p>
          </span><br>
      <!-- <span> Accordian without subheading with body open and section disable </span>&nbsp; -->
      <ng-dynamic-accordion [option]=accordianWithOneHeading></ng-dynamic-accordion>
    </li>
    <li class="list-group-item">
        <span>
            <h5>Accordian</h5>
            <p>- Heading</p>
            <p>- Body close</p>
            <p>- Section enable</p>
          </span><br>
      <!-- <span>Accordian without subheading with body close and section enable </span>&nbsp; -->
      <ng-dynamic-accordion [option]=accordianWithOneHeadingDisable></ng-dynamic-accordion>
    </li>
    <li class="list-group-item">
        <span>
            <h5>Accordian</h5>
            <p>- subheading</p>
            <!-- <p>- Subheading</p>
            <p>- Body close</p>
            <p>- Section enable</p> -->
          </span><br>
      <!-- <span>Accordian with subheading</span>&nbsp; -->
      <ng-dynamic-accordion [option]=options></ng-dynamic-accordion>
    </li>
  </ul>
</div>