<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <span> Default table</span><br>
      <ng-dynamic-Table [options]=table (changeEvent)="receiveRowValue($event)"></ng-dynamic-Table>
    </li>
    <li class="list-group-item">
      <span> Table with footer</span><br>
      <ng-dynamic-Table [options]=tableWithFooter (changeEvent)="receiveRowValue($event)"></ng-dynamic-Table>
    </li>
    <li class="list-group-item">
        <span>
            <h5>Table</h5>
            <p>- Default sorting</p>
            <p>- Sort by multiple keys</p>
          </span><br>
      <!-- <span> Table with default sorting and sort by multiple columns name</span><br> -->
      <ng-dynamic-Table [options]=tableWithSoorting (changeEvent)="receiveRowValue($event)"></ng-dynamic-Table>
    </li>
    <li class="list-group-item">
        <span>
            <h5>Table</h5>
            <p>- Search by one key</p>
            <p>- Default placeholder</p>
            <p>- Default message(No Data Found)</p>
          </span><br>
      <!-- <span> Table with search and search by firstname with default placeholder ,default message if the record not
        found</span><br> -->
      <ng-dynamic-Table [options]=tableWithSearching (changeEvent)="receiveRowValue($event)"></ng-dynamic-Table>
    </li>
    <li class="list-group-item">
        <span>
            <h5>Table</h5>
            <p>- Search all keys</p>
            <p>- Given placeholder</p>
            <p>- Set message(No Record Found)</p>
          </span><br>
      <!-- <span> Table with search and search more than one field with given placeholder, given message if the record not
        found</span><br> -->

      <ng-dynamic-Table [options]=tableWithSearchingbyMultipleName (changeEvent)="receiveRowValue($event)"></ng-dynamic-Table>
    </li>
    <li class="list-group-item">
      <span>
        Table with pagination

      </span><br>
      <ng-dynamic-Table [options]=options (changeEvent)="receiveRowValue($event)"></ng-dynamic-Table>
    </li>

  </ul>
</div>