<div id="myDIV">
  <button class="btn active" [routerLink]="['accordion']">ACCORDIONS</button>

  <button class="btn" [routerLink]="['datepicker']">DATEPICKERS</button>
  <button class="btn" [routerLink]="['autocompletesearch']">AUTO COMPLETES</button>
  <button class="btn" [routerLink]="['multi-single-selectdropdown']"> DROP-DOWNS</button>
  <button class="btn" [routerLink]="['table']">TABLES</button>
</div>
<router-outlet></router-outlet>

<!-- <span class="buttons" *ngFor="let item of data; let last = last">{{item[option.textKey]}}
  <span class="deletes" (click)="delete(item) ">
    <span>x</span>
  </span>
  <span *ngIf="data.length>1 && !last">,</span>
</span> -->