<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <span>Search by one field and display data by two field</span><br>
      <ng-dynamic-autocompleteField [options]=dataByFirstNameDisplayByLastName (changeEvent)="receiveRowValue($event)">
      </ng-dynamic-autocompleteField>
    </li>
     <li class="list-group-item">
      <span> Search by multiple field,display multiple field data</span><br>
      <ng-dynamic-autocompleteField [options]=dataByAllFieldAndSearchByallField (changeEvent)="receiveRowValue($event)">
      </ng-dynamic-autocompleteField>

    </li>
    <li class="list-group-item">
      <span>Search with default highlight color</span><br>
      <ng-dynamic-autocompleteField [options]=dataWithDefaultHighlightColor (changeEvent)="receiveRowValue($event)">
      </ng-dynamic-autocompleteField>
    </li>
    <li class="list-group-item">
      <span>Search with given highlight color </span><br>
      <ng-dynamic-autocompleteField [options]=options (changeEvent)="receiveRowValue($event)">
      </ng-dynamic-autocompleteField>
    </li> 
  </ul>
</div>
