<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <span> Auto-complete search by one key</span><br>
      <ng-dynamic-autocompleteField [options]=dataByFirstNameDisplayByLastName (changeEvent)="receiveRowValue($event)">
      </ng-dynamic-autocompleteField>
    </li>
     <li class="list-group-item">
         
      <span>  Auto-complete search by all keys</span><br>
      <ng-dynamic-autocompleteField [options]=dataByAllFieldAndSearchByallField (changeEvent)="receiveRowValue($event)">
      </ng-dynamic-autocompleteField>

    </li>
    <li class="list-group-item">
        <span> Auto-complete search with default highlight color</span><br>
      <!-- <span>Search with default highlight color</span><br> -->
      <ng-dynamic-autocompleteField [options]=dataWithDefaultHighlightColor (changeEvent)="receiveRowValue($event)">
      </ng-dynamic-autocompleteField>
    </li>
    <li class="list-group-item">
      <span>Auto-complete search with given highlight color</span><br>
      <ng-dynamic-autocompleteField [options]=options (changeEvent)="receiveRowValue($event)">
      </ng-dynamic-autocompleteField>
    </li> 
  </ul>
</div>
